h1{
    color: rgb(7, 36, 36);
    background-color: #008000;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    color: grey;
    text-align: right;
    line-height: 30px;
    column-count: 3;
    column-gap: 3;
}
ul{
    /* border-width: 4px;
    border-style: solid; */
    /* border: 4px solid red; */
    border-bottom: 4px solid red;
}
li{
    list-style-type: none ;
    text-shadow: 2px 2px #440000;
}